body {
    background-color:#3365b7;
    color:white;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    margin-bottom: 0px;
    text-align: center;
}

main {
    font-family: Helvetica;
}
nav, footer {
    text-align: center;
    font-family: Helvetica;
}

nav a {
    padding:15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    font-family: Helvetica;
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom:2px orange solid;
    font-size: 2em;
    transition: .9s;
}


#me {
    
    position: absolute;
}


#welcometext {
    position: absolute;
    top: 28%;
    left: 45%;
    
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
    color: lightgray;
}

table {
    margin: 0px auto;
    padding-right: 10px;
    font-size: 1.3em;
}
td strong {
    color: orange;
}

ul {
    text-align: left;
    padding-left: 200px;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}

.centerize {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  
}

.hobby {
    color: #f4a742;
}

